/* Navbar */
.navbar-nav a{
    font-size:18px;
  }
  
  .nav-link{
    text-decoration: none;
  }
  .card{
    border-radius: 15px!important;
  }
  .col-md-3{
    margin-top: 10px!important;
  }
  .form-control{
    width: 80%!important;
    
  }
  .form-outer{
     display: flex;
     margin: auto;
     width: 70%;
     margin-left: 20px;
     padding: 8px;
     float: left;
   
  }
  .cart{
    float: right;
    margin-top: 10px;
    margin-right: 20px;
  }
  .cart :hover{
    background-color: black!important;
  }
  .w-100{
    height: 250px!important;
  }
  .search{
    margin-right: 10px!important;
  }
  
  
  
  
  @media (max-width:481px)  { /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ 
    .w-100{
      height: 200px!important;
    }
    .scroll-div{
      overflow-x: scroll;
    }
    .my-5{
      margin-top: 0px!important;
      margin-bottom: 0px!important;
    }
    .form-control{
      height: 50px;
      border-radius: 10px!important;
    }
    #search{
        border-radius: 10px!important;
        border-radius: 10px!important;
    }
    .products{
      display: flex;
    }
    .card{
      width: 45%;
      margin-right: 10px!important;
      margin-bottom: 10px!important;
    }
    .card-img, .card-img-bottom, .card-img-top{
      height: 120px!important;
    }
    .row>* {
      display: contents;
    }
  
  }
  
  